* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111215;
    position: relative;
}

input[type="button"], button, a {
    outline: none;
    text-decoration: none;
    border: none;
}

a {
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

/* modificators */

.d-flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.muted {
    color: rgba(255, 255, 255, 0.50);
}

.text-w-400 {
    font-weight: 400;
}

.smaller-title {
    font-size: 48px;
    font-weight: 600;
}

.available__car {
    color: #41D61C;
    background: rgba(65, 214, 28, 0.15);
}

.transit__car {
    color: #FF7E35;
    background: rgba(255, 126, 53, 0.15);

}

.hidden {
    display: none;
}
