.main-container, .main-background__img {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 906px;
}

.main-content__tracker, .tracker__info,  .progress-top, .tracker__info-progress p, .main-content__tag-content .tag:nth-child(2), .main-content__tag-content .tag:nth-child(3), .tag-counter__img, .car-icon__flag, .flag-counter p, .flag-speed, .flag-speed p, .search-icon, .main-content__search-button, .car__data, .car__charts, .chart__top, .faded, .select-arrow, .slide-top, .slide-top__price, .company__flag, .company__flag-text, .company__name, .company__models, .company__country, .catalog-item__chart-top, .catalog-item__views, .catalog-item__data, .catalog-item__charts, .catalog-item__price, .catalog-item__views, .catalog__flag, .catalog__flag p, .catalog__tag-new, .catalog-item__status, .banner-main__top-content, .banner-main__bottom-content, .banner-main__play-btn, .banner-side__block p, .small-icon, .small-item__data, .small__flag, .small__flag p, .small-item__charts, .small-item__chart-top, .small-item__price, .small-item__views {
    position: absolute;
}

.tracker__info-inner, .tracker__info-inner span, .progress-top, .main-content__tag-content, .tag-counter, .car-icon, .car-icon__flag, .flag-counter p, .flag-speed, .flag-speed p, .main-content__search-input, .main-content__search-button, .car__title, .car__year, .tab, .slide-top__start-btn, .slide-top__end-btn, .catalog-top__btn-all, .catalog-top__btn-left, .catalog-top__btn-right, .catalog-item__year, .catalog-item__tag, .catalog__flag, .catalog__tag-new, .status__tag-booking, .status__tag-amount, .status__tag-order, .banner-main__play-btn, .catalog-small__tag, .small__flag, .small-item__title, .small-item__tag {
    align-items: center;
    display: flex;
}

.main-content, .main-content__inner, .main-content__tag-content .tags, .tag-counter, .title-container, .car-icon, .main-content__inner-search, .main-preview__cars, .car, .filters-position-top, .filters, .slide-top__btn-container, .company, .company__logo, .catalog-item, .catalog-item__chart-container, .banner-main, .banner-side__block, .catalog-small__tag, .small-item, .small-item__background, .small-item__chart-container {
    position: relative;
}

.main {
    position: relative;
    background: #275DFB;
    overflow: hidden;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 32px;
}

.main-background__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar {
    width: 704px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: rgba(7, 29, 91, 0.15);
    padding: 8px 14px 8px 4px;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.header-bar__btn {
    padding: 8px 10px;
    display: inline-flex;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
    height: 40px;
    align-items: center;
}

.header-bar__logo {
    display: flex;
    position: relative;
}

.header-bar__logo__tag {
    color: #F14747;
    display: flex;
    width: 133px;
    height: 19px;
    transform: rotate(-3deg);
    padding: 4px 6px 3px 6px;
    border-radius: 6px;
    background: #FFCDCD;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 23px;
    right: 19px;
}

/* Main content */

.main-content__trace {
    position: absolute;
    top: -19px;
}

/*trace start */

.trace__logo, .point-cars__car, .trace__point-cars {
    position: absolute;
    z-index: 20;
}

.main-content__trace .trace__map {
    position: absolute;
    left: -144px;
}

.trace__logo {
    top: 44px;
    left: 160px;
}

.point-cars__car-1 {
    position: absolute;
    top: 52px;
    left: 31px;
}

.point-cars__car-2 {
    position: absolute;
    top: 44px;
    left: 244px;
}

.point-cars__car-3 {
    position: absolute;
    top: 205px;
    left: 141px;
}

.point-cars__car-4 {
    position: absolute;
    top: 316px;
    left: 71px;
}

.union-title {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.union-counter {
    color: rgba(255, 255, 255, 0.50);    
}

.point-cars__union {
    position: absolute;
}

.car-in-stock .point-cars__union {
    top: -44px;
}

.car-in-stock p {
    top: 4px;
    left: 8px;
}

.car-transit .point-cars__union {
    top: -42px;
    left: 13px;
}

.car-transit p {
    left: 8px;
    top: 6px;
}

.car-reserve .point-cars__union {
    top: -48px;
    left: 5px;
}

.car-reserve p {
    left: 8px;
    top: 6px;
}

.car-client .point-cars__union {
    top: -48px;
    left: 5px;
}

.car-client p {
    left: 8px;
    top: 6px;
}


/* trce end */

/* counter tag tracker */

.main-content__tracker {
    top: 130px;
    right: 68px;
}

.tracker__info {
    transform: rotate(-10deg);
    flex-direction: column;
    top: 14px;
    left: 29px;
}

.tracker__info-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tracker__info-inner span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.tracker__info-subtitle {
    font-size: 12px;
    font-weight: 500;
}

.tracker__info-progress {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.progress-background {
    border-radius: 6px;
    background: #FFF;
    width: 145px;
    height: 16px;
}

.progress-top {
    border-radius: 6px;
    background: linear-gradient(90deg, #2A50FF 0%, #7991FF 100%);
    height: 16px;
    width: 114px;
    justify-content: flex-end;
    top: 0;
}

.tracker__info-progress p {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    top: 2px;
    left: 67px;
}

/* end counter tag tracker */

.main-content {
    margin-top: 48px;
    margin-bottom: 40px;
    z-index: 20;
}

.main-content__inner {
    width: 800px;
    margin: 0 auto;
}

.main-content__inner-tags {
    margin: 0 auto;
    width: fit-content;
}

.main-content__tag-content {
    padding: 2px 12px 2px 2px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 1000px;
    height: 32px;
}

.main-content__tag-content:first-child  {
    margin-right: 10px;
}

.main-content__tag-content .tags {
    width: 60px;
}

.main-content__tag-content .tag:first-child {
    z-index: 10;
}

.main-content__tag-content .tag:nth-child(2) {
    left: 18px;
    z-index: 8;
}

.main-content__tag-content .tag:nth-child(3) {
    left: 34px;
    z-index: 6;
}

.tag-title {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.tag-counter {
    background: #F14747;
    padding: 8px 8px 6px 8px;
    justify-content: center;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.tag-counter__img {
    top: -5px;
    right: -4px;
}

.main-content__inner-title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.56px;
    color: #fff;
    margin-top: 24px;
    line-height: 100%;
}

.car-icons {
    margin:  0 16px;
}

.car-icon {
    width: 64px;
    height: 64px;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
}

.car-icon img {
    z-index: 10;
}

.car-icon:nth-child(2) {
    margin: 0 8px;
}

.car-icon__flag {
    bottom: -7px;
    right: -4px;
}

.flag-counter img {
    width: 29.489px;
    height: 32.452px;
    z-index: 9;    
}

.flag-counter p {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    width: 26px;
    transform: rotate(10deg);
    z-index: 12;
    justify-content: center;
    letter-spacing: initial !important;
}

.flag-speed {
    font-size: 10px;
    font-weight: 800;
    line-height: 6px;
    color: #fff;
    letter-spacing: initial !important;
    bottom: -7px;
    right: -4px;
    z-index: 1;
}

.flag-speed__smaller {
    font-size: 8px;
}

.flag-speed p {
    flex-direction: column;
    transform: rotate(-10deg);
    z-index: 10;
    width: 26px;
    top: 13px;
}

.title__tag {
    border-radius: 8px;
    background: #CDDBFF;
    width: fit-content;
    transform: rotate(-3deg);
    padding: 4px 8px 4px 4px;
    font-size: 14px;
    font-weight: 500;
    color: #275DFB;
    align-items: center;
    justify-content: center;
    line-height: 13px;
    position: absolute;
    top: 110px;
    left: 220px;
    letter-spacing: initial !important;
}

/* achievements */

.achievements {
    width: 651px;
    margin: 0 auto;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

.achievements-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
    color: #fff;
    align-items: center;
}

.achievements-item__img {
    margin-right: 4px;
}

.achievements-item__divider {
    margin: 0 auto;
}

/* search */

.main-content__inner-search {
    width: fit-content;
    margin: 0 auto;
}

.search-icon {
    top: 24px;
    left: 24px;
}

.main-content__search-input {
    width: 520px;
    height: 68px;
    padding: 8px 8px 8px 54px;
    justify-content: space-between;
    border-radius: 24px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.10);
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.main-content__search-button {
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #F14747;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    right: 8px;
    width: 95px;
    height: 52px;
    top: 8px;
}

/* filters */

.main-filters {
    margin-top: 40px;
}

.main-preview__cars {
    left: -82px;
    z-index: 10;
}

.car {
    width: 190px;
    height: 190px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.10);
    margin-right: 12px;
}

.car__data {
    top: 12px;
    left: 12px;
}

.car__title {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.car__title img {
    margin-right: 2px;
}

.car__info {
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.50);
    margin-top: 6px;
}

.car__year::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    margin: 0 4px;
}

.car__charts {
    width: 48px;
    height: 26px;
    top: 12px;
    right: 12px;
    flex-direction: column;
    justify-content: space-between;
}

.chart, .chart__background, .chart__top {
    width: 48px;
    height: 8px;
    border-radius: 3px;
}

.chart__top {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.32) 100%);
}

.chart:first-child .chart__top {
    width: 24px;
}

.chart:nth-child(2) .chart__top {
    width: 32px;
}

.chart:last-child .chart__top {
    width: 41px;
}

.chart__background {
    background: rgba(255, 255, 255, 0.10);
}

.faded {
    height: 424px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(39, 93, 251, 0.00) 0%, #275DFB 36.38%);
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
}

/* filters */

.filters-position-top {
    top: -80px;
    z-index: 20;
}

.filters {
    z-index: 20;
    border-radius: 32px;
    background: #FFF;
    backdrop-filter: blur(24px);
    height: 80px;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
}

.filters__tabs {
    padding: 4px;
    align-items: center;
    border-radius: 16px;
    background: #F1F4FC;
}

.tab {
    padding: 12px 20px;
    justify-content: center;
    border-radius: 12px;
}

.filters__tab-active {
    background: #fff;
    box-shadow: 0px 12px 8px 0px rgba(198, 209, 227, 0.24);
}

.filters__select {
    width: 200px;
    height: 48px;
    padding: 14px 16px 14px 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    border-radius: 16px;
    border: 1px solid #E1E3E9;
    position: relative;
}

.select-arrow {
    top: 14px;
    right: 16px;
}

.filters__slide {
    margin: 0 24px;
}

.slide-top, .slide-background, .slide-top__line {
    width: 375px;
    height: 3px;
}

.filters__slide {
    align-items: center;
}

.slide-background {
    border-radius: 1000px;
    background: #EAEEFA;
}

.slide-top {
    width: 210px;
    height: 3px;
    border-radius: 1000px;
}

.slide-top__btn-container {
    top: -12px;
}

.slide-top__line {
    background: #275DFB;
}

.slide-top__start-btn, .slide-top__end-btn {
    width: 24px;
    height: 24px;
    padding: 5px;
    justify-content: center;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 8px 20px 0px rgba(17, 18, 21, 0.15);
}

.slide-top__price {
    font-size: 12px;
    font-weight: 400;
    color: #7F8393;
    top: 28px;
    width: 100px;
}

.filters__btn-all {
    height: 48px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #EAEEFA;
    width: 180px;
    font-size: 16px;
    font-weight: 500;
}

/* companies  */

.companies-cards {
    margin-top: 8px;
    justify-content: space-between;
}

.company {
    border-radius: 32px;
    background: #fff;
    backdrop-filter: blur(12px);
    padding: 16px;
}

.company a, .company {
    display: flex;
    width: 193px;
    height: 190px;
}

.company__logo {
    width: 40px;
    height: 40px;
}

.company__flag {
    top: 20px;
    right: -4px;
}

.company__flag-text {
    font-size: 12px;
    font-weight: 700;
    top: 3px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.company__name {
    top: 16px;
    right: 19px;
    font-size: 18px;
    font-weight: 500;
}

.company__models {
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    bottom: 16px;
}

.company__models  .model {
    margin-bottom: 10px;
}

.company__models .model:last-child {
    margin-bottom: 0;
}

.model__title {
    color: #111215;
    margin-right: 4px;
}

.model__counter {
    color: #7F8393;
}

.company__country {
    right: 16px;
    bottom: 16px;
}

/* catalog */

.catalog {
    padding: 60px 0;
    align-items: center;
}

.catalog-top {
    margin-bottom: 32px;
    align-items: center;
}

.catalog-top .filters__tabs {
    margin-left: 10%;
    margin-right: 20%;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
}

.catalog-top__btn-all {
    width: 72px;
    height: 48px;
    padding: 16px;
    justify-content: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid #E1E3E9;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
}

.catalog-top__btn-left, .catalog-top__btn-right {
    width: 48px;
    height: 48px;
    justify-content: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid #E1E3E9;
    background: #fff;
}

.catalog-top__btn-left {
    margin: 0 8px;
}

.catalog-top__btn-left svg, .catalog-top__btn-right svg {
    width: 20px;
    height: 20px;
}

/* catalog item */

.catalog-data__items {
    flex-wrap: wrap;
}

.catalog-item, .catalog-item__background {
    width: 341px;
    height: 341px;
    border-radius: 40px;
}

.catalog-item {
    background: #F1F4FC;
    margin-bottom: 12px;
    margin-right: 12px;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item__title {
    font-size: 18px;
    font-weight: 600;
}

.catalog-item__info {
    font-size: 14px;
    font-weight: 500;
    color: #7F8393;
    margin-top: 6px;
}

.catalog-item__year::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background: rgba(7, 29, 91, 0.15);
    border-radius: 50%;
    margin: 0 4px;
}

.catalog-item__charts  {
    flex-direction: column;
    width: fit-content;
}

.chart p {
    font-size: 12px;
    font-weight: 700;
}

.catalog-item__chart-top {
    width: 38px;
    height: 16px;
    border-radius: 6px;
    background: linear-gradient(90deg, #2A50FF 0%, #7991FF 100%);
}

.catalog-item__chart-background {
    width: 48px;
    height: 16px;
    border-radius: 6px;
    background: #fff;
}

.item-chart {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.item-chart p {
    font-size: 12px;
    font-weight: 700;
    margin: 0 4px;
}

.catalog-item__price {
    width: fit-content;
}

.catalog-item__price .price {
    font-size: 20px;
    font-weight: 600;
}

.catalog-item__tag {
    font-size: 12px;
    font-weight: 700;
    width: fit-content;
    padding: 4px 6px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 8px;
}

.catalog-item__views {
    bottom: 0;
    right: 0;
}

.views {
    font-size: 12px;
    font-weight: 500;
    color: #7F8393;
    margin-top: 13px;
}

.catalog-item__views {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.views-data {
    margin-left: 2px;
}

.catalog-item__data {
    top: 20px;
    left: 20px;
}

.catalog-item__charts {
    right: 20px;
    top: 20px;
}

.catalog-item__price {
    bottom: 20px;
    left: 20px;
}

.catalog-item__views {
    bottom: 20px;
    right: 20px;
}

.catalog__flag {
    left: 16px;
    transform: rotate(5deg);
    justify-content: center;
    top: -8px;
}

.catalog__flag img {
    width: 23px;
}

.catalog__flag p {
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    color: #275DFB;
    width: 23px;
    transform: rotate(5deg);
    z-index: 12;
    display: flex;
    justify-content: center;
    top: 6px;
}

.catalog__flag p.dark-text {
    color: #111215;
}

.catalog__tag-new {
    width: 41px;
    height: 20px;
    transform: rotate(5deg);
    padding: 4px 8px;
    justify-content: center;
    border-radius: 12px;
    background: #CAE4FF;
    backdrop-filter: blur(12px);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #3093FA;
    left: 45px;
    top: -5px;
}

.catalog-item__status {
    top: 70px;
    left: 20px;
    width: 177px;
    justify-content: space-between;
}

.status__tag-booking {
    border-radius: 1000px;
    background: #275DFB;
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    backdrop-filter: blur(12px);
    color: #fff;
    width: fit-content;
}

.status__tag-amount {
    border-radius: 1000px;
    background: #CDDBFF;
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    backdrop-filter: blur(12px);
    color: #275DFB;
    width: fit-content;
}

.status__tag-amount img, .status__tag-order img {
    margin-right: 4px;
}

.status__tag-order {
    border-radius: 1000px;
    background: #FFCDCD;
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    backdrop-filter: blur(12px);
    color: #F14747;
    width: fit-content;
}

/* banner block */

.banners {
    padding-bottom: 60px;
}

.banners-title {
    margin-bottom: 32px;
}

.banners__inner-container {
    justify-content: space-between;
}

.banner-main, .banner-main__image {
    max-width: 1038px;
    border-radius: 40px;
    background: #F1F4FC;
    height: 600px;
    overflow: hidden;
}

.banner-main {
    width: 74%;
}

.banner-main__image {
    width: 100%;
}

.banner-main__top-content {
    top: 24px;
    left: 24px;
    right: 24px;
    justify-content: space-between;
}

.banner-main__tag  {
    display: inline-flex;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(12px);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.banner-main__tag img {
    margin-right: 6px;
}

.banner-main__bottom-content {
    bottom: 24px;
    left: 24px;
    right: 24px;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    letter-spacing: -1.92px;
    width: 82%;
    max-width: 848px;
}

.banner-main__play-btn {
    width: 120px;
    height: 120px;
    padding: 36px;
    justify-content: center;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(16px);
    top: 240px;
    left: 459px;
    right: 459px;
}

.banner-side {
    flex-direction: column;
    justify-content: space-between;
}

.banner-side__block {
    max-width: 350px;
    height: 294px;
    overflow: hidden;
    border-radius: 40px;
    background: #F1F4FC;
}

.banner-side__block img {
    width: 100%;
    border-radius: 40px;
}

.banner-side__block p {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
    bottom: 20px;
    left: 20px;
    letter-spacing: -0.96px;
}

/* catalog small */

.small-item a {
    display: block;
    width: fit-content;
    height: fit-content;
}

.catalog-small {
    padding-bottom: 60px;
}

.catalog-small__top  {
    justify-content: space-between;
}

.catalog-small__top .smaller-title {
    align-items: center;
    line-height: 100%;
}

.small-icon {
    left: -4px;
    top: -4px;
}

.catalog-small__tag {
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 110%;
    text-transform: capitalize;
    background: #275DFB;
    border-radius: 1000px;
    margin: 0 12px;
}

.small-item, .small-item__background {
    width: 223px;
    height: 223px;
}

.catalog-small__items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.small-item {
    background: #F1F4FC;
    border-radius: 32px;
    margin-right: 12px;
}

.small-item:last-child {
    margin-right: 0;
}

.small-item__background {
    border-radius: 32px;
    pointer-events: none;
}

.small-item__data {
    left: 16px;
    top: 16px;
    width: 119px;
}

.small__flag {
    left: 12px;
    transform: rotate(5deg);
    justify-content: center;
    top: -12px;
}

.small__flag img {
    width: 23px;
}

.small__flag p {
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    color: #275DFB;
    width: 23px;
    transform: rotate(5deg);
    z-index: 12;
    display: flex;
    justify-content: center;
    top: 6px;
}

.small__flag p.dark-text {
    color: #111215;
}

.small-item__title {
    font-size: 16px;
    font-weight: 600;
    width: 119px;
}

.small-item__title img {
    width: 14px;
    height: 14px;
}

.small-item__info {
    font-size: 12px;
    font-weight: 500;
    color: #7F8393;
    margin-top: 6px;
}

.small-item__charts {
    right: 16px;
    top: 16px;
    flex-direction: column;
}

.small-item__chart-container {
    margin-left: 4px;
}

.small-item__chart-top {
    top: 0;
    width: 28px;
    height: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #2A50FF 0%, #7991FF 100%);
}

.small-item__chart-background {
    width: 36px;
    height: 12px;
    border-radius: 4px;
    background: #fff;
}

.small-item__price {
    bottom: 16px;
    left: 16px;
    width: fit-content;
}

.small-item__price .price {
    font-size: 16px;
    font-weight: 600;
}

.small-item__tag {
    font-size: 12px;
    font-weight: 700;
    width: fit-content;
    padding: 4px 6px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 6px;
}

.small-item__views {
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

