.banners {
    padding-bottom: 60px;
}

.banners-title {
    margin-bottom: 32px;
}

.banners__inner-container {
    justify-content: space-between;
}

.banner-main, .banner-main__image {
    max-width: 1038px;
    border-radius: 40px;
    background: #F1F4FC;
    height: 600px;
    overflow: hidden;
}

.banner-main {
    width: 74%;

    &__image {
        width: 100%;
    }

    &__top-content {
        top: 24px;
        left: 24px;
        right: 24px;
        justify-content: space-between;
    }

    &__tag  {
        display: inline-flex;
        padding: 7px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(12px);
        font-size: 16px;
        font-weight: 500;
        color: #fff;

        img {
            margin-right: 6px;
        }

    }

    &__bottom-content {
        bottom: 24px;
        left: 24px;
        right: 24px;
        font-size: 48px;
        font-weight: 600;
        line-height: 100%;
        color: #fff;
        letter-spacing: -1.92px;
        width: 82%;
        max-width: 848px;
    }

    &__play-btn {
        width: 120px;
        height: 120px;
        padding: 36px;
        justify-content: center;
        border-radius: 1000px;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(16px);
        top: 240px;
        left: 459px;
        right: 459px;
        -webkit-backdrop-filter: blur(16px);
    }

}

.banner-side {
    flex-direction: column;
    justify-content: space-between;

    &__block {
        max-width: 350px;
        height: 294px;
        overflow: hidden;
        border-radius: 40px;
        background: #F1F4FC;

        img {
            width: 100%;
            border-radius: 40px;
        }

        p {
            font-size: 24px;
            font-weight: 500;
            line-height: 120%;
            color: #fff;
            bottom: 20px;
            left: 20px;
            letter-spacing: -0.96px;
        }

    }

}

.banner {
    height: 260px;

    &__container, img {
        height: 260px;
    }

    &-pre {
        font-family: "Gilroy", sans-serif;
        font-size: 36px;
        line-height: 40px; 
        letter-spacing: -0.04em;
        position: absolute;
        bottom: 20px;
        width: 270px;
        left: 0;
    }

}