.banner-feedback {
    background:  rgb(39, 93, 251);
    position: relative;
    width: 100%;

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url('../issets/image2-bg-1.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    .banner-feedback__top {
        position: relative;
        z-index: 21;
        display: grid;
        justify-content: center;

        .banner-feedback__tags {
            justify-content: center;
            padding-top: 60px;

            .tag-counter {
                background: rgb(39, 93, 251);

                &.white__tag {
                    background: rgb(205, 219, 255);
                    color: rgb(39, 93, 251);
                }                

            }

        }

        .banner-feedback__title {
            color: rgb(255, 255, 255);
            font-family: 'Gilroy', sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 100%;
            width: fit-content;
            padding: 32px 0;
            justify-content: center;
            display: flex;
        }

    }

    .banner-feedback__slider {
        position: relative;
        z-index: 21;

        .banner-feedback__slider-top {
            margin-bottom: 16px;
            transform: translateX(-121px);
        } 
        
        .banner-feedback__slider-bottom {
            padding-bottom: 19px;
            transform: translateX(-171px);
        } 

    }

    .banner-feedback__btn {
        border-radius: 20px;
        background: #fff;
        width: 209px;
        height: 60px;
        color: rgb(17, 18, 21);
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        position: absolute;
        z-index: 30;
        cursor: pointer;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .banner-feedback__muted {
        background: linear-gradient(180.00deg, rgba(39, 93, 251, 0) 40.668%,rgb(39, 93, 251) 97.231%);
        width: 100%;
        height: 513px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 21;
        pointer-events: none;
    }

}

// feedback item

.banner-feedback__item {
    border-radius: 40px;
    backdrop-filter: blur(16px);
    background: rgb(255, 255, 255);
    flex-direction: column;
    text-align: center;
    font-family: 'Gilroy', sans-serif;  
    line-height: 100%;

    .banner-feedback {
        &__user-img {
            border-radius: 1000px;
        }

        &__quote {
            border-radius: 1000px;
            background: rgb(255, 205, 205);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__user-name {
            color: rgb(17, 18, 21);
            font-weight: 600;
            line-height: 100%;
            height: fit-content;
        }

        &__user-review {
            color: rgb(127, 131, 147);
            font-weight: 400;
            height: fit-content;
        }

        &__link {
            color: rgb(39, 93, 251);
            font-weight: 600;
            height: fit-content;
        }

        &__user-progress {
            height: fit-content;

            .progress-block {
                border-radius: 6px;
                background: linear-gradient(90.00deg, rgb(42, 80, 255),rgb(121, 145, 255) 100%);

                &.not-filled {
                    background: rgb(241, 244, 252);
                }                

            }

        }

        &__progress-counter {
            color: rgb(17, 18, 21);
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-left: 8px;
        }

    }

    &.custom-bg {
        background: url('../issets/Subtract-rectangle.svg');
        background-size: cover;
    }

    &.custom-bg-2 {
        background: url('../issets/Subtract-rectangle-2.svg');
        background-size: cover;
    }

}

// feedback original item

.banner-feedback__item {
    width: 210px;
    height: 210px;
    padding: 25px 18px 18px 18px;
    border-radius: 32px;

    .banner-feedback__user-img, .banner-feedback__user-img img {
        width: 44px;
        height: 44px;
    }

    .banner-feedback__user-img {
        margin-bottom: 13px;
    }

    .banner-feedback__quote {
        width: 15px;
        height: 15px;

        img {
            width: 10px;
            height: 10px;
        }

    }

    .banner-feedback__user-name {
        font-size: 14px;
    }

    .banner-feedback__user-review {
        width: 178px;
        height: 28px;
        font-size: 11px;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .banner-feedback__user-progress {
        margin-top: 22px;
    }

    .banner-feedback__link {
        font-size: 11px;
    }

    .progress-block {
        width: 29px;
        height: 17px;
        margin-right: 2px;
    }

    .banner-feedback__progress-counter {
        font-size: 12px;
    }

}

// feedback small item

.banner-feedback__item.md-size {
    width: 267px;
    height: 267px;
    padding: 32px 24px 24px 24px;
    border-radius: 40px;

    .banner-feedback__user-img, .banner-feedback__user-img img {
        width: 56px;
        height: 56px;
    }
    
    .banner-feedback__user-img {
        margin-bottom: 16px;
    }

    .banner-feedback__quote {
        width: 20px;
        height: 20px;

        img {
            width: 12px;
            height: 12px;
        }

    }

    .banner-feedback__user-name {
        font-size: 18px;
    }

    .banner-feedback__user-review {
        width: 219px;
        height: 36px;
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .banner-feedback__user-progress {
        margin-top: 27px;
    }

    .banner-feedback__link {
        font-size: 14px;
    }

    .progress-block {
        width: 34px;
        height: 22px;
        margin-right: 4px;
    }

    .banner-feedback__progress-counter {
        font-size: 16px;
    }

}