.catalog {
    padding: 60px 0;
    align-items: center;

    .catalog-data__items {
        // flex-wrap: wrap;
        // gap: 12px;
        width: 100%;
    }  

}

.catalog-item, .catalog-item__background {
    width: 341px;
    height: 341px;
    border-radius: 40px;
}

.catalog-item {
    background: #F1F4FC;
    margin-bottom: 12px;
    margin-right: 12px;

    &:nth-child(4n) {
        margin-right: 0;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__info {
        font-size: 14px;
        font-weight: 500;
        color: #7F8393;
        margin-top: 2px;
    }

    &__year::after {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        background: rgba(7, 29, 91, 0.15);
        border-radius: 50%;
        margin: 0 4px;
    }

    &__charts  {
        flex-direction: column;
        width: fit-content;
    }

    &__chart-top {
        width: 38px;
        height: 16px;
        border-radius: 6px;
        background: linear-gradient(90deg, #2A50FF 0%, #7991FF 100%);
    }

    &__chart-background {
        width: 48px;
        height: 16px;
        border-radius: 6px;
        background: #fff;
    }

    &__price {
        width: fit-content;
        font-size: 20px;
        font-weight: 600;
    }

    &__tag {
        font-size: 12px;
        font-weight: 700;
        width: fit-content;
        padding: 4px 6px;
        justify-content: center;
        border-radius: 8px;
        margin-top: 8px;
    }

    &__views {
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__data {
        top: 20px;
        left: 20px;
    }

    &__charts {
        right: 20px;
        top: 20px;
    }

    &__price {
        bottom: 20px;
        left: 20px;
    }

    &__views {
        bottom: 20px;
        right: 20px;
    }

}  

.chart p {
    font-size: 12px;
    font-weight: 700;
}

.views {
    font-size: 12px;
    font-weight: 500;
    color: #7F8393;
    margin-top: 13px;

    &-data {
        margin-left: 2px;
    }

}

.item-chart {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;

    p {
        font-size: 12px;
        font-weight: 700;
        margin: 0 4px;
    }

}


.catalog__flag {
    left: 16px;
    transform: rotate(5deg);
    justify-content: center;
    top: -8px;

    img {
        width: 23px;
    }

    p {
        font-size: 12px;
        font-weight: 700;
        line-height: 100%;
        color: #275DFB;
        width: 23px;
        transform: rotate(5deg);
        z-index: 12;
        display: flex;
        justify-content: center;
        top: 6px;

        &.dark-text {
            color: #111215;
        }

    }

}

.catalog__tag-new {
    width: 41px;
    height: 20px;
    transform: rotate(5deg);
    padding: 4px 8px;
    justify-content: center;
    border-radius: 12px;
    background: #CAE4FF;
    backdrop-filter: blur(12px);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #3093FA;
    left: 45px;
    top: -5px;
}

.catalog-item__status {
    top: 70px;
    left: 20px;
    width: 177px;
    justify-content: space-between;

    .status__tag-booking, .status__tag-amount, .status__tag-order {
        border-radius: 1000px;
        height: 24px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 500;
        backdrop-filter: blur(12px);
        width: fit-content;
    }

    .status__tag-amount img, .status__tag-order img {
        margin-right: 4px;
    }

    .status__tag-booking {
        background: #275DFB;
        color: #fff;
    }

    .status__tag-amount {
        background: #CDDBFF;
        color: #275DFB;
    }

    .status__tag-order {
        background: #FFCDCD;
        color: #F14747;
    }

}