.new-arrivals {
    padding-bottom: 60px;

    .new-arrivals__tag  {
        color: rgb(48, 147, 250);
        font-family: 'Gilroy', sans-serif;
        font-size: 18px;
        font-weight: 700;
        border-radius: 1000px;
        backdrop-filter: blur(24px);
        background: rgb(202, 228, 255);
        transform: rotate(5.00deg);
        padding: 4px 8px 4px 8px;
        display: flex;
        align-items: center;
        line-height: 100%;
        max-height: 32px;
        right: 34px;
        bottom: 22px;
    }

    .catalog-item {
        margin-bottom: 0;
    }

    .catalog-small__items {
        width: 100%;
    }

}

