.main-content__tracker, .tracker__info,  .progress-top, .tracker__info-progress p, .main-content__tag-content .tag:nth-child(2), .main-content__tag-content .tag:nth-child(3), .tag-counter__img, .car-icon__flag, .flag-counter p, .flag-speed, .flag-speed p, .search-icon, .main-content__search-button, .car__data, .car__charts, .chart__top, .faded, .select-arrow, .slide-top, .slide-top__price, .company__flag, .company__flag-text, .company__name, .company__models, .company__country, .catalog-item__chart-top, .catalog-item__views, .catalog-item__data, .catalog-item__charts, .catalog-item__price, .catalog-item__views, .catalog__flag, .catalog__flag p, .catalog__tag-new, .catalog-item__status, .banner-main__top-content, .banner-main__bottom-content, .banner-main__play-btn, .banner-side__block p, .small-icon, .small-item__data, .small__flag, .small__flag p, .small-item__charts, .small-item__chart-top, .small-item__price, .small-item__views {
    position: absolute;
}

.tracker__info-inner, .tracker__info-inner span, .progress-top, .main-content__tag-content, .tag-counter, .car-icon, .car-icon__flag, .flag-counter p, .flag-speed, .flag-speed p, .main-content__search-input, .main-content__search-button, .car__title, .car__year, .tab, .slide-top__start-btn, .slide-top__end-btn, .catalog-top__btn-all, .catalog-top__btn-left, .catalog-top__btn-right, .catalog-item__year, .catalog-item__tag, .catalog__flag, .catalog__tag-new, .status__tag-booking, .status__tag-amount, .status__tag-order, .banner-main__play-btn, .catalog-small__tag, .small__flag, .small-item__title, .small-item__tag {
    align-items: center;
    display: flex;
}

.main-content, .main-content__inner, .main-content__tag-content .tags, .tag-counter, .title-container, .car-icon, .main-content__inner-search, .main-preview__cars, .car, .filters-position-top, .filters, .slide-top__btn-container, .company, .company__logo, .catalog-item, .catalog-item__chart-container, .banner-main, .banner-side__block, .catalog-small__tag, .small-item, .small-item__background, .small-item__chart-container {
    position: relative;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    background: #275DFB;
    overflow: hidden;

    &-container, &-background__img {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        height: 906px;
    }

    &-container {
        padding-top: 20px;
        padding-bottom: 32px;
    }

    &-background__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &-content__trace {
        position: absolute;
        top: -19px;
    }

    &-content {
        margin-top: 48px;
        margin-bottom: 40px;
        z-index: 20;
        
        &__inner {
            width: 800px;
            margin: 0 auto;

            &-tags {
                margin: 0 auto;
                width: fit-content;
            }

            &-title {
                font-size: 64px;
                font-weight: 700;
                letter-spacing: -2.56px;
                color: #fff;
                margin-top: 24px;
                line-height: 100%;
            }

        }

        &__tag-content {
            padding: 2px 12px 2px 2px;
            background: rgba(255, 255, 255, 0.10);
            border-radius: 1000px;
            height: 32px;
            
            .tags {
                width: 60px;
            }

            .tag {
                &:first-child {
                    z-index: 10;
                }
                &:nth-child(2) {
                    left: 18px;
                    z-index: 8;
                }
                &:nth-child(3) {
                    left: 34px;
                    z-index: 6;
                }

                &-title {
                    margin-left: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                }

                &-counter {
                    background: #F14747;
                    padding: 8px 8px 8px 8px;
                    justify-content: center;
                    border-radius: 1000px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    height: 28px;

                    &__img {
                        top: -5px;
                        right: -4px;
                    }

                }

            }

            &:first-child  {
                margin-right: 10px;
            }

        }
        

    }

}

.car-icons {
    margin:  0 16px;

    .car-icon {
        width: 64px;
        height: 64px;
        justify-content: center;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.10);

        img {
            z-index: 10;
            width: 64px;
            height: 64px;
        }

        &:nth-child(2) {
            margin: 0 8px;
        }

        &__flag {
            bottom: -7px;
            right: -4px;
        }

    }

    .flag {
        &-counter img, &-speed img {
            width: 29.489px;
            height: 32.452px;
            z-index: 9;    
        }

        &-counter {
            p {
                font-size: 14px;
                font-weight: 700;
                line-height: 100%;
                width: 26px;
                transform: rotate(10deg);
                z-index: 12;
                justify-content: center;
                letter-spacing: initial !important;
                color: #111215 !important;
            }
        }

        &-speed {
            font-size: 10px;
            font-weight: 800;
            line-height: 6px;
            color: #fff;
            letter-spacing: initial !important;
            bottom: -7px;
            right: -4px;
            z-index: 1;

            &__smaller {
                font-size: 8px;
            }

            p {
                flex-direction: column;
                transform: rotate(-10deg);
                z-index: 10;
                width: 26px;
                top: 13px;
            }

        }
    }

}

.title__tag {
    border-radius: 8px;
    background: #CDDBFF;
    width: fit-content;
    transform: rotate(-3deg);
    padding: 4px 8px 4px 4px;
    font-size: 14px;
    font-weight: 500;
    color: #275DFB;
    align-items: center;
    justify-content: center;
    line-height: 13px;
    position: absolute;
    top: 110px;
    left: 220px;
    letter-spacing: initial !important;
}

.achievements {
    width: 651px;
    margin: 0 auto;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;

    &-item {
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        text-transform: capitalize;
        color: #fff;
        align-items: center;

        &__img {
            margin-right: 4px;
        }

        &__divider {
            margin: 0 auto;
        }

    }

}

.main-content__inner-search {
    width: fit-content;
    margin: 0 auto;

    .search-icon {
        top: 24px;
        left: 24px;
    }

    .main-content__search-input {
        width: 520px;
        height: 68px;
        padding: 8px 8px 8px 54px;
        justify-content: space-between;
        border-radius: 24px;
        box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.10);
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }

    .main-content__search-button {
        justify-content: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 16px;
        background: #F14747;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        right: 8px;
        width: 95px;
        height: 52px;
        top: 8px;
    }

}

/* filters */

.main-filters {
    margin-top: 40px;

    .main-preview__cars {
        // left: -82px;
        z-index: 10;
    }

    .car {
        width: 190px;
        height: 190px;
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.10);
        margin-right: 12px;

        &__data {
            top: 12px;
            left: 12px;
        }

        &__title {
            font-size: 12px;
            font-weight: 500;
            color: #fff;

            img {
                margin-right: 2px;
            }

        }

        &__info {
            font-size: 10px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.50);
            margin-top: 6px;
        }

        &__year {
            &::after {
                content: '';
                display: block;
                width: 3px;
                height: 3px;
                background: rgba(255, 255, 255, 0.25);
                border-radius: 50%;
                margin: 0 4px;
            }
        }

        &__charts {
            width: 48px;
            height: 26px;
            top: 12px;
            right: 12px;
            flex-direction: column;
            // justify-content: space-between;
            gap: 3px;
        }

        .chart, .chart__background, .chart__top {
            width: 48px;
            height: 8px;
            border-radius: 3px;
        }

        .chart__top {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.32) 100%);
        }

        .chart {
            &:first-child .chart__top {
                width: 24px;
            }

            &:nth-child(2) .chart__top {
                width: 32px;
            }

            &:last-child .chart__top {
                width: 41px;
            }

            &__background {
                background: rgba(255, 255, 255, 0.10);
            }
        }

    }

}

.faded {
    height: 424px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(39, 93, 251, 0.00) 0%, #275DFB 36.38%);
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
}

.filters {
    z-index: 20;
    border-radius: 32px;
    background: #FFF;
    backdrop-filter: blur(24px);
    height: 80px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;

    &-position-top {
        top: -80px;
        z-index: 20;
    }

    &__tabs {
        padding: 4px;
        align-items: center;
        border-radius: 16px;
        background: #F1F4FC;
        overflow: hidden;
        position: relative;
        width: 331px;

        .tab {
            // padding: 12px 20px;
            justify-content: center;
            border-radius: 12px;
            position: relative;
            width: 33%;
            z-index: 10;

            .filter-button {
                font-size: 16px;
                font-weight: 600;
                background: none;
            }

        }       
        
        .filter-slider {
            pointer-events: none;
            position: absolute;
            padding: 0.3rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
        
        .filter-slider-rect {
            height: 40px;
            width: 33.33%;
            border-radius: 12px;
            background-color: #fff;
            box-shadow: 0 0.1rem 1rem -0.4rem rgba(0, 0, 0, 0.12);
            transition: transform 0.4s ease-in-out;
            transform: translateX(var(--translate-filters-slider));        
        }

    }

    &__tab-active {
        // background: #fff;
        // box-shadow: 0px 12px 8px 0px rgba(198, 209, 227, 0.24);
        // height: 40px;
    }

    &__select {
        width: 200px;
        height: 48px;
        padding: 14px 16px 14px 20px;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        border-radius: 16px;
        border: 1px solid #E1E3E9;
        position: relative;

        .select-arrow {
            top: 14px;
            right: 16px;
        }

        &.open {
            ul {
                display: flex;
            }

            .select-arrow {
                transform: rotate(180deg);
            }
        }

        ul {
            display: none;
            width: 200px;
            position: absolute;
            top: 52px;
            background: #fff;
            left: 0;
            border-radius: 16px;
            box-shadow: 0px 8px 48px 0px rgba(27, 31, 44, 0.12);
            flex-direction: column;
            
            li {
                padding: 16px 20px;
                color: rgb(17, 18, 21);
                font-family: 'Gilroy', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 100%;
                cursor: pointer;
            }

        }

    }

    &__slide {
        margin: 0 24px;
        align-items: center;
    
        .slide-top, .slide-background, .slide-top__line {
            width: 375px;
            height: 3px;
        }

        .slide-background {
            border-radius: 1000px;
            background: #EAEEFA;
        }
        
        .slide-top {
            width: 210px;
            height: 3px;
            border-radius: 1000px;

            &__btn-container {
                top: -12px;
            }

            &__line {
                background: #275DFB;
            }

            &__start-btn, &__end-btn {
                width: 24px;
                height: 24px;
                padding: 5px;
                justify-content: center;
                border-radius: 1000px;
                background: #FFF;
                box-shadow: 0px 8px 20px 0px rgba(17, 18, 21, 0.15);
            }

            &__price {
                font-size: 12px;
                font-weight: 400;
                color: #7F8393;
                top: 28px;
                width: 100px;
            }
            
        }        
    
    }

    .filters__btn-all {
        height: 48px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 16px;
        background: #EAEEFA;
        width: 180px;
        font-size: 16px;
        font-weight: 500;
    }

}

.companies {

    .companies-cards {
        margin-top: 8px;
        justify-content: space-between;
    }
    
    .company {
        border-radius: 32px;
        background: #fff;
        backdrop-filter: blur(12px);
        padding: 16px;
        display: flex;
        width: 193px;
        height: 190px;

        a {
            display: flex;
            width: 193px;
            height: 190px;
        }

        &__logo {
            width: 40px;
            height: 40px;
        }

        &__flag {
            top: 20px;
            right: -4px;
            &-text {
                font-size: 12px;
                font-weight: 700;
                top: 3px;
                width: 20px;
                display: flex;
                justify-content: center;
            }
        }

        &__name {
            top: 16px;
            right: 19px;
            font-size: 18px;
            font-weight: 500;
        }

        &__models {
            flex-direction: column;
            font-size: 16px;
            font-weight: 500;
            bottom: 16px;

            .model {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                &__title {
                    color: #111215;
                    margin-right: 4px;
                }

                &__counter {
                    color: #7F8393;
                }

            }

        }

        &__country {
            right: 16px;
            bottom: 16px;
        }

    }
    
}
