.catalog-small {
    padding-bottom: 60px;

    .small-icon {
        left: -4px;
        top: -4px;
    }

    &__top  {
        justify-content: space-between;

        .smaller-title {
            align-items: center;
            line-height: 100%;
        }

    }

    &__tag {
        width: 44px;
        height: 44px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        line-height: 110%;
        text-transform: capitalize;
        background: #275DFB;
        border-radius: 1000px;
        margin: 0 12px;
    }

    .catalog-small__items {
        display: flex;
        width: 100%;
        /* flex-wrap: wrap; */
    }

    .small-item {

        background: #F1F4FC;
        border-radius: 32px;
        margin-right: 12px;
        width: 223px;

        .small-item, &__background {
            width: 223px;
            height: 223px;
        }        

        a {
            display: block;
            width: fit-content;
            height: fit-content;
        }

        &:last-child {
            margin-right: 0;
        }

        &__background {
            border-radius: 32px;
            pointer-events: none;
        }

        &__data {
            left: 16px;
            top: 16px;
            width: fit-content;
        }

        &__title {
            font-size: 16px;
            font-weight: 600;
            width: fit-content;

            img {
                width: 14px;
                height: 14px;
                margin-right: 2px;
            }

        }

        &__info {
            font-size: 12px;
            font-weight: 500;
            color: #7F8393;
            margin-top: 6px;
        }

        &__charts {
            right: 16px;
            top: 16px;
            flex-direction: column;
        }
        
        &__chart-container {
            margin-left: 4px;
        }

        &__chart-top {
            top: 0;
            width: 28px;
            height: 12px;
            border-radius: 4px;
            background: linear-gradient(90deg, #2A50FF 0%, #7991FF 100%);
        }

        &__chart-background {
            width: 36px;
            height: 12px;
            border-radius: 4px;
            background: #fff;
        }  
        
        &__price {
            bottom: 16px;
            left: 16px;
            width: fit-content;

            .price {
                font-size: 16px;
                font-weight: 600;
            }

        }

        &__tag {
            font-size: 12px;
            font-weight: 700;
            width: fit-content;
            padding: 4px 6px;
            justify-content: center;
            border-radius: 8px;
            margin-top: 6px;
        }

        &__views {
            bottom: 16px;
            right: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

    }

}


.small__flag {
    left: 12px;
    transform: rotate(5deg);
    justify-content: center;
    top: -12px;

    img {
        width: 23px;
    }

    p {
        font-size: 12px;
        font-weight: 700;
        line-height: 100%;
        color: #275DFB;
        width: 23px;
        transform: rotate(5deg);
        z-index: 12;
        display: flex;
        justify-content: center;
        top: 6px;

        &.dark-text {
            color: #111215;
        }

    }

}
