.trace__logo, .point-cars__car, .trace__point-cars {
    position: absolute;
    z-index: 20;
}

.main-content__trace .trace__map {
    position: absolute;
    left: -144px;
}

.trace__logo {
    top: 44px;
    left: 160px;
}

.point-cars__car {
    &-1 {
        position: absolute;
        top: 52px;
        left: 31px;  
    }

    &-2 {
        position: absolute;
        top: 44px;
        left: 244px;
    }

    &-3 {
        position: absolute;
        top: 205px;
        left: 141px;
    }

    &-4 {
        position: absolute;
        top: 316px;
        left: 71px;
    }
}

.union {
    &-title {
        position: absolute;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }

    &-counter {
        color: rgba(255, 255, 255, 0.50); 
    }
}

.point-cars__union {
    position: absolute;
}

.car-in-stock {
    .point-cars__union {
        top: -44px;
    }

    p {
        top: 4px;
        left: 8px;
    }
}

.car-transit {
    .point-cars__union {
        top: -42px;
        left: 13px;
    }

    p {
        left: 8px;
        top: 6px;
    }
}

.car-reserve {
    .point-cars__union {
        top: -48px;
        left: 5px;
    }

    p {
        left: 8px;
        top: 6px;
    }
}

.car-client {
    .point-cars__union {
        top: -48px;
        left: 5px;
    }

    p {
        left: 8px;
        top: 6px;
    }
}